<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<div align="center">

<h2>New User</h2>


<form th:method="POST" th:action="@{/}" th:object="${user}">

    <div>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name" required/>
    </div>

    <div>
        <label for="lastName">Last Name: </label>
        <input type="text" th:field="*{lastName}" id="lastName" required/>
    </div>

    <div>
        <label for="age">Age: </label>
        <input type="number" th:field="*{age}" id="age" required/>
    </div>

    <input type="submit" value="Save"/>

</form>
</div>
</body>
</html>